@{
    ViewData["Title"] = "Menu";
}

<!DOCTYPE html>
<html lang="ro">
<head>
    <title>Levi's restaurant</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="magazin,fotografii,fotografie,poze,imagini,imagine,vanzare,apusuri,rasarituri,peisaje,portrete,stoc,camera,Canon,Tamron,Godox">
    <meta name="description" content="Magazin online de fotografii digitale">
    <meta name="author" content="Adrian-George Levențiu">

    
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sono:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
</head>
<body>
    <header>
        <section id="top">
            <h1>Levi's restaurant</h1>
        </section>
    </header>
    <main>
        <section id="despreMine">
            <br /><br /><h3>About us</h3>
            <ol>
                <li>We are a brand new vintage-style restaurant from Bucharest, Romania.</li>
                <li>Some fun facts about us:
                    <ul>
                        <li>We are planning to open in some more locations.</li>
                        <li>We like diversity so our menu is for everyone.</li>
                        <li>We have food for vegetarians, vegans, pescatarians and so many more.</li>
                    </ul>
                </li>
                <li>On top of the page you can see all the categories we have for the menu.</li>
            </ol
        </section>
    </main>
    <footer>
        <section id="contact">
            <br>
            <strong></span><span class="fas fa-regular fa-house"></span> Address:</strong>
            <address><a href="https://goo.gl/maps/8UzvK6EYophRe1qS6">Academiei Street, 14</a></address>
            <div class="maps">
                <iframe src="https://www.google.com/maps?q=Strada+Academiei+14,+Bucuresti&output=embed" name="mapsiframe"></iframe>
            </div><br>
            <strong><i class="fa-solid fa-phone"></i> Phone number:</strong><br>
            <a> <s>0712345678</s><b> 0711223344</b></a><br><br>
            <strong><i class="fa-solid fa-inbox"></i>  E-mail address:</strong><br>
            <a href="mailto:levishop@gmail.com">levishop@gmail.com</a><br><br />
            <a href="https://www.facebook.com/Adii.Levi"><b><i class="fa-brands fa-facebook"></i> Facebook</b></a><br><br>
        </section>
    </footer>
</body>
</html>